[connection]
id=us-pptp
uuid=3dd21ddd-5689-4d89-8dcc-8291a513c133
type=vpn
autoconnect=false
permissions=user:mehdi:;

[vpn]
gateway=us.Vhadd.com
password-flags=0
user=ir253080
service-type=org.freedesktop.NetworkManager.pptp

[vpn-secrets]
password=991166

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

[proxy]
